.page-home {
    overflow: hidden;
}


/*
** HOTLINE
*/

.hotline {
    background-color: #b0a37c;
    padding: 10px;
    @include ab( 0, n, n, -145px );
    @include transition( all 0.5s ease-in-out );
    @include screen ( medium ) {
        right: 0;
        padding: 25px 30px;
    }

    .inner {
        position: relative;
    }
    .title {
        color: #fff;
        font-size: 17px;
        font-family: $font-sfus;
        text-transform: uppercase;
        display: none;
        @include screen ( medium ) {
            display: block;
        }
    }
    .hotline__icon {
        display: block;
        background-color: #b0a37c;
        padding: 10px;
        @include ab ( -10px, -44px, n, n );

        @include screen ( medium ) {
            display: none;
        }

        i {
            background: url('../images/icons/icon-hotline.png') no-repeat;
            width: 15px;
            height: 15px;
            display: block;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        /* display: none;
        @include screen ( medium ) {
            display: block;
        } */

        li {
            &:before {
                content: "• ";
                color: white;
            }
            a {
                color: #fff;
                font-size: 17px;
                font-family: $font-ops;
                text-transform: uppercase;
            }
        }
    }
}

/* Introduction */
.introduction {
    padding: 50px 0 0;
    @include screen ( medium ) {
        padding: 80px 0 0;
    }

    .container {
        margin-top: 40px;

        p {
            color: #a4966e;
            font-size: 14px;
            font-family: $font-sfus;
            text-align: center;
            line-height: normal;
            margin: 10px 0;
            @include screen ( medium ) {
                font-size: 12px;
            }
        }
        hr {
            &.full {
                margin: 20px 0;
                border-top: 1px dashed #e8e8e8;
                @include screen ( medium ) {
                    margin: 60px 0;
                }
            }
        }
    }
    .interior {
        position: relative;
    }
    .interior-main {}
    .location {
        position: relative;
        .location__img {
            img {
                width: 100%;
            }
        }
        .interior__info {
            top: auto;
            left: auto;
            width: 100%;
            margin-top: 10px;
            position: relative;
            @include screen ( medium ) {
                width: 30%;
                margin-top: 0;
                @include ab( 50%, 3%, n, n );
                @include transform ( translateY( -50% ) );
            }
            @include screen ( ipadPortrait ) {
                width: 25%;
                left: 8%;
            }

            .inner {
                padding: 5px;

                >img {
                    width: 100%;
                }
                .title, p {
                    text-align: center;
                }
                a {
                    color: #a4966e;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                hr {
                    margin: 10px auto;
                }
            }
        }
    }
    .interior__block {
        display: inline-block;
        vertical-align: top;
        @include screen ( medium ) {
            float: right;

            &:first-child {
                float: left;
            }
        }
    }
    .interior__img {
        margin: 0;
        width: 100%;
        text-align: center;
        @include screen ( medium ) {
            width: 60%;
            margin: 0 -15px;
        }
        @include screen ( ipad ) {
            width: 75%;
        }

        .item {
            @include screen ( ipad ) {
                cursor: pointer;
                padding: 0 15px;
                &:hover {
                    @include bw();
                }
            }
            &.active {
                @include bw();
            }

            .inner {
                width: 100%;
                position: relative;

                i {
                    content: '';
                    background: url('../images/icons/icon-zoom.png') no-repeat;
                    width: 42px;
                    height: 49px;
                    @include ab ( n, n, 15px, 5px );
                    @include screen ( medium ) {
                        display: none;
                    }
                }
            }
        }
        img {
            width: 100%;
            display: block;
            @include screen ( medium ) {
                width: auto;
                margin: 0 auto;
            }
            @include screen ( ipad ) {
                width: 100%;
            }
        }
        .slick-dots {
            font-size: 0;
            line-height: 0;
            width: 100%;
            text-align: center;
            @include ab( n, 0, 20px, n);
            display: none;
            @include screen( medium) {
                display: block;
            }
            li {
                display: inline-block;
                vertical-align: middle;
                padding: 0 5px;
                font-size: 0;
                line-height: 0;
                &.slick-active {
                    button {
                        border-color: #012f75;
                    }
                }
                button {
                    background: transparent;
                    text-indent: -9999px;
                    border: none;
                    padding: 0;
                    font-size: 0;
                    border: 6px solid #fff;
                    width: 0;
                    height: 0;
                    cursor: pointer;
                    @include border-radius ( 50%, 50%, 50%, 50%);
                }
            }
        }
    }
    .interior__info {
        height: 100%;
        width: 80%;
        z-index: 3;
        @include ab ( 0, 0, n, n );
        @include transition ( all 0.5s ease-in-out );
        @include screen ( medium ) {
            width: 35%;
        }
        @include screen ( ipad ) {
            width: 25%;
        }
        @include box-shadow( 0px, 1px, 24px, rgba(55, 55, 55, 0.1) );
        @include screen ( medium ) {
            position: relative;
            top: auto;
            left: auto;
        }
        &.collapse {
            i {
                background: url('../images/icons/icon-expand.png') no-repeat;
                right: -40px;
            }
        }
        /* &.expand {} */

        .inner {
            height: 100%;
            position: relative;
            background-color: white;
            padding: 30px;
            overflow: hidden;
            @include transition ( all 0.5s ease-in-out );
        }
        i {
            content: '';
            background: url('../images/icons/icon-collapse.png') no-repeat;
            width: 60px;
            height: 60px;
            margin-top: -30px;
            @include ab ( 50%, n, n, -30px );
            @include transition ( all 0.5s ease-in-out );
            @include screen ( medium ) {
                display: none;
            }
        }
        hr {
            background: url('../images/interiors/highlight.png') no-repeat;
            width: 45px;
            height: 14px;
            border-top: 0;
        }
        .title {
            color: #012f75;
            font-size: 20px;
            font-family: $font-sfut;
            text-transform: uppercase;
            display: block;
            line-height: normal;
            @include screen ( ipad ) {
                font-size: 23px;
            }
            &.type-small {
                font-size: 12px;
                @include screen ( ipad ) {
                    font-size: 14px;
                }
            }

            span {
                display: block;
                font-size: 20px;
                line-height: normal;
                @include screen ( medium ) {
                    font-size: 16px;
                }
                @include screen ( ipad ) {
                    font-size: 23px;
                }
            }
        }
        p {
            text-align: left;
            text-transform: uppercase;
            &.overall {
                color: #1f1f1f;
            }
        }
    }
    .interior__info--left {
        .inner {
            @include screen ( medium ) {
                &:after {
                    right: 100%;
                    top: 20%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(255, 255, 255, 0);
                    border-right-color: #fff;
                    border-width: 16px;
                    margin-top: -16px;
                }
            }
        }
    }
    .interior__info--right {
        .inner {
            @include screen ( medium ) {
                &:after {
                    left: 100%;
                    top: 20%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(255, 255, 255, 0);
                    border-left-color: #fff;
                    border-width: 16px;
                    margin-top: -16px;
                }
            }
        }
    }
    .interior__img--three-img {
        overflow: hidden;

        .item {
            width: 33.333333%;
            float: left;
        }
    }
    .interior__img--two-img {
        overflow: hidden;

        .item {
            width: 50%;
            float: left;
        }
    }
}

/* Gallery */
.gallery {
    padding: 50px 0 0;
    @include screen ( medium ) {
        padding: 80px 0 0;
    }

    /* .container {} */
    .grid-items {
        margin-top: 15px;
        background-color: white;
        position: relative;
        @include screen ( small ) {
            margin-top: 45px;
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 3;
            border: none;
            background: none;
            text-indent: -99999px;
            width: 28px;
            height: 63px;
            margin-top: -31px;
            &.slick-prev {
                background: url('../images/icons/slick-prev.png') no-repeat;
                left: 20px;
            }
            &.slick-next {
                background: url('../images/icons/slick-next.png') no-repeat;
                right: 20px;
            }
        }
        .slick-dots {
            width: 100%;
            margin: 0;
            font-size: 0;
            line-height: 0;
            text-align: center;
            @include ab ( n, 0, 10px, n );

            li {
                padding: 0 3px;
                display: inline-block;
                font-size: 0;
                line-height: 0;
                &.slick-active {
                    button {
                        background: rgba( 255, 255, 255, 1 );
                    }
                }

                button {
                    width: 0;
                    height: 0;
                    padding: 0;
                    font-size: 0;
                    line-height: 0;
                    background: none;
                    border: none;
                    text-indent: -99999px;
                    border: 5px solid rgba( 255, 255, 255, 0.5 );
                    @include border-radius ( 50%, 50%, 50%, 50% );
                }
            }
        }
    }
    .grid-item {
        cursor: pointer;
        outline: none;
        overflow: hidden;
        text-align: center;
        text-decoration: none;
        position: relative;
        height: 371px;
        @include screen ( small ) {
            float: left;
            border: 1px solid white;
            @include CSSanimate(all, 0.2s, ease-in-out);
            width: 100%;
        }
        @include screen ( ipad ) {
            width: 33.33333%;
        }
        @include screen ( big ) {
            height: $grid-item-height;
        }
        &:hover {
            .overlay {
                display: block;
            }
        }
        &:nth-child(1), &:nth-child(3), &:nth-child(5) {
            border-left: 0;
        }
        &:nth-child(2), &:nth-child(4), &:nth-child(6) {
            border-right: 0;
        }

        .overlay {
            width: 100%;
            height: 100%;
            background-color: rgba( 0, 0, 0, 0.75 );
            @include ab ( 0, 0, n, n );
            display: none;

            .inner {
                width: 100%;
                text-align: center;
                @include ab ( 50%, 50%, n, n );
                @include transform( translate( -50%, -50%) );

                .title {
                    display: block;
                    color: #fff;
                    font-size: 18px;
                    font-family: $font-sfus;
                    text-transform: uppercase;
                }
                img {
                    margin: 27px auto 0;
                }
            }
        }
    }
    .grid-item-big {
        @include screen ( ipad ) {
            width: 66.66667%;
        }
    }
    /* .grid-item-image {} */
}

/* Register */
.register {
    padding: 50px 0;
    @include screen ( medium ) {
        padding: 80px 0 110px;
    }

    .container {
        margin-top: 40px;

        .inner {
            background-color: #f6f6f6;
        }
    }
}

/* Form */
.form {
    border: 1px solid #e1e1e1;
    background: url('../images/global/bg-register-left.png') no-repeat left bottom, url('../images/global/bg-register-right.png') no-repeat right top;
    padding: 20px;
    @include screen ( medium ) {
        padding: 70px 80px;
    }
}

.form__field {
    margin-top: 20px;
    @include screen ( medium ) {
        margin-top: 45px;
    }
    &:first-child {
        margin-top: 0;
    }
    .button__wrapper {
        text-align: center;
    }
}
.form__field--two-col {
    .col {
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
        @include screen ( medium ) {
            width: 48%;
            float: right;
            margin-top: 0;
            &:first-child {
                float: left;
            }
        }
    }
}

.form__label {
    display: block;
    color: #a4966e;
    font-size: 12px;
    font-family: $font-sfus;
    text-transform: uppercase;
    margin-bottom: 15px;
}
