@font-face {
    font-family: 'sfusalzburgmedium';
    src: url('../fonts/sfusalzburgmedium.eot');
    src: url('../fonts/sfusalzburgmedium.eot') format('embedded-opentype'), url('../fonts/sfusalzburgmedium.woff2') format('woff2'), url('../fonts/sfusalzburgmedium.woff') format('woff'), url('../fonts/sfusalzburgmedium.ttf') format('truetype'), url('../fonts/sfusalzburgmedium.svg#sfusalzburgmedium') format('svg');
}

@font-face {
    font-family: 'sfutoledo';
    src: url('../fonts/sfutoledomedium.eot');
    src: url('../fonts/sfutoledomedium.eot') format('embedded-opentype'), url('../fonts/sfutoledomedium.woff2') format('woff2'), url('../fonts/sfutoledomedium.woff') format('woff'), url('../fonts/sfutoledomedium.ttf') format('truetype'), url('../fonts/sfutoledomedium.svg#sfutoledomedium') format('svg');
}

@font-face {
    font-family: 'sfutoledo';
    font-weight: bold;
    src: url('../fonts/sfutoledobold.eot');
    src: url('../fonts/sfutoledobold.eot') format('embedded-opentype'), url('../fonts/sfutoledobold.woff2') format('woff2'), url('../fonts/sfutoledobold.woff') format('woff'), url('../fonts/sfutoledobold.ttf') format('truetype'), url('../fonts/sfutoledobold.svg#sfutoledobold') format('svg');
}
