.page-home {}


/*
** HOTLINE
*/

.hotline {
    background-color: #b0a37c;
    padding: 25px 30px;
    @include ab( 0, n, n, 0);
    .title {
        color: #fff;
        font-size: 17px;
        font-family: $font-sfus;
        text-transform: uppercase;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            &:before {
                content: "• ";
                color: white;
            }
            a {
                color: #fff;
                font-size: 17px;
                font-family: $font-sfus;
                text-transform: uppercase;
            }
        }
    }
}

/* Introduction */
.introduction {
    padding: 80px 0 0;

    .container {
        margin-top: 40px;

        p {
            text-align: center;
            color: #a4966e;
            font-size: 14px;
            font-family: $font-sfus;
            line-height: normal;
        }
        hr {
            &.full {
                border-top: 1px dashed #e8e8e8;
                margin: 60px 0;
            }
        }
    }
    /* .interior {}
    .interior-main {} */
    .location {
        position: relative;
        .interior__info {
            @include ab( 52px, 60px, n, n );

            .inner {
                padding: 5px;

                .title, p {
                    text-align: center;
                }
                a {
                    color: #a4966e;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                hr {
                    margin: 1em auto;
                }
            }
        }
    }
    .interior__block {
        float: right;

        &:first-child {
            float: left;
        }
    }
    .interior__img {
        img {
            cursor: pointer;
            padding-left: 15px;
            &:first-child {
                padding-left: 0;
            }
            &:hover, &.active {
                @include bw();
            }
        }
    }
    .interior__info {
        @include box-shadow( 0px, 1px, 24px, rgba(55, 55, 55, 0.1) );
        .inner {
            position: relative;
            background-color: white;
            padding: 30px;
        }

        hr {
            background: url('../images/interiors/highlight.png') no-repeat;
            width: 45px;
            height: 14px;
            border-top: 0;
        }
        .title {
            color: #012f75;
            font-size: 23px;
            font-family: $font-sfut;
            text-transform: uppercase;
            display: block;
            line-height: normal;
            &.type-small {
                font-size: 14px;
            }

            span {
                font-size: 23px;
                display: block;
                line-height: normal;
            }
        }
        p {
            text-align: left;
            text-transform: uppercase;
            &.overall {
                color: #1f1f1f;
            }
        }
    }
    .interior__info--left {
        .inner {
            &:after {
                right: 100%;
                top: 20%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-right-color: #fff;
                border-width: 16px;
                margin-top: -16px;
            }
        }
    }
    .interior__info--right {
        .inner {
            &:after {
                left: 100%;
                top: 20%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-left-color: #fff;
                border-width: 16px;
                margin-top: -16px;
            }
        }
    }
}

/* Gallery */
.gallery {
    padding: 80px 0 0;

    /* .container {} */
    .grid-items {
        margin-top: 45px;
        background-color: white;
    }
    .grid-item {
        cursor: pointer;
        float: left;
        outline: none;
        overflow: hidden;
        text-align: center;
        text-decoration: none;
        position: relative;
        border: 1px solid white;
        @include CSSanimate(all, 0.2s, ease-in-out);
        width: 100%;
        height: 371px;
        @include screen ( ipad ) {
            width: 33.33333%;
        }
        @include screen ( big ) {
            height: $grid-item-height;
        }
        &:hover {
            .overlay {
                display: block;
            }
        }
        &:nth-child(1), &:nth-child(3), &:nth-child(5) {
            border-left: 0;
        }
        &:nth-child(2), &:nth-child(4), &:nth-child(6) {
            border-right: 0;
        }

        .overlay {
            width: 100%;
            height: 100%;
            background-color: rgba( 0, 0, 0, 0.75 );
            @include ab ( 0, 0, n, n );
            display: none;

            .inner {
                text-align: center;
                @include ab ( 50%, 50%, n, n );
                @include transform( translate( -50%, -50%) );

                .title {
                    display: block;
                    color: #fff;
                    font-size: 18px;
                    font-family: $font-sfus;
                    text-transform: uppercase;
                }
                img {
                    margin-top: 27px;
                }
            }
        }
    }
    .grid-item-big {
        @include screen ( ipad ) {
            width: 66.66667%;
        }
    }
    /* .grid-item-image {} */
}

/* Register */
.register {
    padding: 80px 0 110px;

    .container {
        margin-top: 40px;
        background-color: #f6f6f6;
    }
}

/* Form */
.form {
    border: 1px solid #e1e1e1;
    padding: 70px 80px;
    background: url('../images/global/bg-register-left.png') no-repeat left bottom, url('../images/global/bg-register-right.png') no-repeat right top;
}

.form__field {
    margin-top: 45px;
    &:first-child {
        margin-top: 0;
    }
    .button__wrapper {
        text-align: center;
    }
}
.form__field--two-col {
    .col {
        width: 48%;
        float: right;
        &:first-child {
            float: left;
        }
    }
}

.form__label {
    display: block;
    color: #a4966e;
    font-size: 12px;
    font-family: $font-sfus;
    text-transform: uppercase;
    margin-bottom: 15px;
}
