.modal {
	width: 100%;
	max-width: 660px;
	margin: 0 auto;
	border: 1px solid #e1e1e1;
    background-color: #f6f6f6;
    position: relative;

    .inner {
    	padding: 70px 80px;
    	background: url('../images/modal/modal-left.png') no-repeat left bottom, url('../images/modal/modal-right.png') no-repeat right top;
    }
    .close {
    	font-family: $font-sfus;
    	font-size: 2em;
    	color: #a4966e;
    	@include ab( 10px, n, n, 10px );
    	&:hover {
    		opacity: 0.7;
    	}
    }
    .mfp-close {
    	display: none;
    }
}
.successful-modal {
	.mess {
		color: #a4966e;
		font-size: 12px;
		font-family: $font-sfus;
		text-transform: uppercase;
		text-align: center;
		line-height: normal;
	}
}
.mfp-bg {
    background-color: #000;
    opacity: 0.9;
}