<footer>
	<div class="container">
		<img align="Golden Land" src="images/global/logo.png">
		<p>
			Phân phối độc quyền bởi Goldenland
			<br/><br/><br/>
			CÔNG TY TNHH THƯƠNG MẠI ĐẦU TƯ PHÁT TRIỂN DỊCH VỤ BẤT ĐỘNG SẢN GOLDENLAND<br/>
			Địa chỉ: Số 29, Đường A4, Phường 12, Quận Tân Bình, TP. HCM<br/>
			Điện thoại: <a href="tel:0199 933 3333" title="0199 933 3333">0199 933 3333</a>   |   Email: <a href="mailto:info@goldenlandvn.com" title="info@goldenlandvn.com">info@goldenlandvn.com</a>   |   Website: <a href="http://www.goldenland.com" title="http://www.goldenland.com" target="_blank">http://www.goldenland.com</a>
			<br/><br/><br/>
			Văn phòng đại diện:<br/>
			Địa chỉ: D1-16 Nguyễn Hữu Cảnh, Phường Nguyễn An Ninh, TP. Vũng Tàu<br/>
			Điện thoại: <a href="tel:0199 288 8888" title="0199 288 8888">0199 288 8888</a><br/>
		</p>
		<hr>
		<p class="copyright">Bản quyền © website thuộc sở hữu goldenland</p>
	</div>
</footer>
<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/slick-carousel/slick/slick.js"></script>
<script src="/bower_components/jquery-placeholder/jquery.placeholder.js"></script>
<script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>

</html>
