@font-face {
    font-family: "SFU Toledo";
    src: url("../fonts/sfutoledobold.eot");
    /* IE9 */
    src: url("../fonts/sfutoledobold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/sfutoledobold.woff") format("woff"), /* chrome, firefox */
    url("../fonts/sfutoledobold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/sfutoledobold.svg#SFU Toledo") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "SFU Salzburg";
    src: url("../fonts/sfusalzburgmedium.eot");
    /* IE9 */
    src: url("../fonts/sfusalzburgmedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/sfusalzburgmedium.woff") format("woff"), /* chrome, firefox */
    url("../fonts/sfusalzburgmedium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/sfusalzburgmedium.svg#SFU Salzburg") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SFU Toledo";
    src: url("../fonts/sfutoledomedium.eot");
    /* IE9 */
    src: url("../fonts/sfutoledomedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/sfutoledomedium.woff") format("woff"), /* chrome, firefox */
    url("../fonts/sfutoledomedium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../fonts/sfutoledomedium.svg#SFU Toledo") format("svg");
    /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
