/*
** BUTTONS
** Please use button- as your CSS class prefix
*/

.button {
    border: none;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: $font-sfut;
    line-height: 56px;
    text-transform: uppercase;
    background-color: #b4a67e;
    @include CSSanimate(all, 500ms, ease);
    width: 100%;
    @include screen ( medium ) {
        width: auto;
        padding: 0 120px;
    }
    &:hover {
        background-color: lighten( #b4a67e, 10%);
    }
}

.button--short {
    font-size: 16px;
    color: #b4a67e;
    background-color: #fff;
    border: 1px solid #b4a67e;
    padding: 0 35px;
    @include box-shadow( -1px, 1px, 18px, rgba(55, 55, 55, 0.5));
    &:hover {
        color: #fff;
        background-color: #b4a67e;
        border: 1px solid #fff;
    }
}
