<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sơn Thịnh Ocean View</title>
    <meta name="description" content="Sơn Thịnh Ocean View, dự án căn hộ mặt tiền biển - Bãi Sau, Vũng Tàu. Diện tích gần 4.000 m2, với 400 căn hộ cao cấp.">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/bower_components/magnific-popup/dist/magnific-popup.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body>
